@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
.App {
  text-align: center;
  font-family: "Roboto";
  margin: auto;
  padding: 10px;
  margin-top: unset;
}
.app-render{
  display: flex;
}
.sidebar-setup{
  display: flex;
  height: 100vh;
  padding: 20px;
}
img{
  height: 2em;
  width: 2em;
  padding: 3px;
  
}
.google-icon{
  display: flex;
}
.icon-name{
  padding-top: 9px;
  padding-left: 40px;
}
.google-button {
  display: flex;
  justify-content: center;
}
.logOut-button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}
.button-alignment {
  top: 10px;
  right: 10px;
  position: absolute;
}
.title-input {
  display:flex;
  margin-top: 20px;
  justify-content: center;
  gap:1px;
}
.add-input{
  height: 20px;
  padding: 10px;
  border-radius: 0;
  outline: none;
  border: 1px solid #9e9e9e;
  font-family: Poppins;
  
}
.add-button {
  width: 50px;
  background-color: #212121;
  color: whitesmoke;
  font-family: Poppins;
  cursor: pointer;
}
.grid-main{
 margin: 20px;
 display: grid;
 grid-template-columns: auto auto auto;
 gap: 10px;
}
.grid-child{
  padding: 50px;
  background-color: rgb(249, 249, 249, 0.7);
  border: 1px solid #9e9e9e;

}
.grid-child:hover{
  background-color: #9e9e9e;
  cursor: pointer;
}
.logOut-button1{
  top: 10px;
  right: 10px;
  position: absolute;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}
.editDocs-main {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editDocs-inner {
  width: 800px;
  box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  padding: 20px;
  height: 750px;
  background-color: rgb(249, 249, 249, 0.7);
}

.ql-container.ql-snow {
  border: none !important;
}
